#header-search,
#newsletter {
    position: relative;
}

#search-input,
#newsletter-input {
    width: 100%;
    border-radius: 40px;
}

#search-btn,
#newsletter-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.newsletter form .input {
    margin-right: 0;
}

#newsletter {
    border-bottom: none !important;
}

#footer {
    border-top: 3px solid #D10024;
}

/* Override Button */
.btn-primary {
    background-color: #0d6efd;
}

.btn-primary:hover {
    background-color: #0b5ed7;
}

.btn-primary:focus {
    background-color: #0a58ca;
}

.btn-success {
    background-color: #198754;
}

.btn-success:hover {
    background-color: #157347;
}

.btn-success:focus {
    background-color: #146c43;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover {
    background-color: #bb2d3b;
}

.btn-danger:focus {
    background-color: #b02a37;
}

.btn-warning {
    background-color: #ffc107;
}

.btn-warning:hover {
    background-color: #ffca2c;
}

.btn-warning:focus {
    background-color: #ffcd39;
}

/* Products */
.products {
    min-height: 2000px;
}

/* Store */
.store {
    min-height: 1855px;
}

/* Avatar image */
.avatar-img {
    max-width: 100px;
    max-height: 100px;
    border: 1px solid #E4E7ED;
}

.avatar-img-header {
    max-width: 16px;
    max-height: 16px;
    margin-right: 6px;
    border-radius: 50%;
}

/* Navigattion */
.nav-item.active {
    color: #D10024;
    background-color: transparent;
}

.nav-item.active:after {
    width: 100%;
}

/* Wishlist */
.header-ctn-link {
    display: block;
    position: relative;
    width: 90px;
    text-align: center;
    color: #FFF;
    cursor: pointer;
}

.header-ctn-icon {
    display: block;
    font-size: 18px;
}

.header-ctn-title {
    font-size: 12px;
}

.header-ctn-qty {
    position: absolute;
    right: 15px;
    top: -10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 10px;
    color: #FFF;
    background-color: #D10024;
}

.btn-delete-wishlist {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    text-align: center;
    font-size: 20px;
    padding: 0;
    background: #D10024;
    border: none;
    color: #FFF;
}

/* Cart Dropdown */
.dropdown-toggle::after {
    display: none;
}

.cart-heading {
    color: #FFF;
    background-color: #D10024;
    padding: 10px;
}

/* Product Card */
.product-image {
    max-width: 220px;
    max-height: 320px;
}

.product-name:hover {
    color: #D10024;
}

/* Product Detail */
#product-main-image {
    max-width: 350px;
}

.product-preview {
    border: 1px solid #E4E7ED;
}

/* Shop */
.shop {
    width: 350px;
    height: 280px;
}

.shop-img {
    width: 100%;
    height: 100%;
}

/* Cart */
.product-cart-image {
    max-width: 80px;
    max-height: 180px;
}

.quantity-input {
    display: inline;
    width: 30px;
    height: 31px;
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    border: 1px solid #333;
    text-align: center;
}

.btn-quantity {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 2px;
}

.btn-delete {
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #D10024;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.cart-detail {
    font-size: 18px;
    font-weight: 500;
}

.btn-cart {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #D10024;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
}

.coupon-input {
    display: inline;
    width: 300px;
    height: 38px;
}

.btn-coupon {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: gray;
    padding: 6px 16px;
    margin-left: 20px;
    cursor: pointer;
}

.cart-total {
    border: 1px solid #E4E7ED;
    padding: 20px;
}

.cart-price-label {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.cart-price {
    font-size: 16px;
    font-weight: bold;
    color: #D10024;
}

.btn-proceed-checkout {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #D10024;
    padding: 8px 16px;
    margin: 6px 0;
    border: none;
    cursor: pointer;
}

/* Login */
#login {
    max-height: 500px;
    padding-bottom: 40px;
}

.btn-facebook,
.btn-google {
    font-weight: bold;
    color: #fff;
    height: 40px;
    border-radius: 40px;
    border: none;
}

.btn-facebook {
    background-color: #0866FF;
}

.btn-google {
    background-color: #ee4d2d;
}

#register {
    max-height: 650px;
}

#forgot-password {
    height: 280px;
}

.btn-forgot-password {
    width: 200px;
    height: 40px;
}

/* Nav pills */
.nav-pills .nav-link {
    color: #d10024;
    font-size: 15px;
    font-weight: 500;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #d10024;
}

/* Modal */
.modal-title {
    margin-right: auto;
}

.order-detail {
    font-size: 18px;
    font-weight: 500;
}

.order-detail-image {
    max-width: 80px;
    max-height: 120px;
    margin-right: 10px;
}

/* Tab */
#product-tab .tab-nav {
    padding-bottom: 6px;
}

/* Review */
.review-input {
    width: 75%;
}

.stars-wrapper {
    margin: 8px 0;
}

.stars {
    display: inline;
}

.review-rating {
    text-align: center;
}

.btn-review {
    font-size: 12px;
    font-weight: bold;
    padding: 8px 16px;
    margin-top: 8px;
    border-radius: 20px;
}

/* Comment */
#comments {
    width: 65%;
    margin: 0 auto;
}

.comment-link {
    color: #d10024;
    font-weight: 500;
    margin-left: 6px;
}

.comment-link:hover {
    text-decoration: underline;
}

.comment-form {
    display: flex;
    margin-bottom: 14px;
    justify-content: end;
}

.comment-form .name {
    margin: 6px 8px 0 0;
}

.btn-comment {
    display: inline-block;
    height: 40px;
    padding: 0 20px;
    margin-top: 8px;
    margin-left: 8px;
    background-color: #D10024;
    border: none;
    border-radius: 40px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.comment-row {
    display: flex;
    justify-content: end;
    padding: 10px 0;
}

.comment-form .avatar,
.comment-heading .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 6px;
}

.comment-heading {
    display: flex;
    padding-top: 2px;
}

.comment-user {
    width: 160px;
}

.comment-body {
    display: block;
    width: 600px;
    padding-left: 6px;
}

.btn-detete-comment {
    margin-left: 10px;
}

.btn-reply:hover,
.btn-detete-comment:hover {
    text-decoration: underline;
    cursor: pointer;
}

.reply-row {
    position: relative;
}

.reply-row .comment-body {
    margin-bottom: 40px;
}

.reply-form {
    margin-left: 38px;
}

.reply-body {
    width: 543px;
}

/*-- Pagination --*/
.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.page-item {
    display: inline-block;
    margin: 0 5px;
}

.page-link {
    display: block;
    padding: 8px 14px !important;
    font-size: 14px;
    border: 1px solid #E4E7ED !important;
    color: #000 !important;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.page-link:hover {
    background-color: #E4E7ED !important;
    color: #D10024 !important;
}

.active .page-link {
    background-color: #D10024 !important;
    color: #fff !important;
    cursor: default;
}

/* Aside */
.btn-filter {
    padding: 8px 20px;
    margin-top: 20px;
    margin-left: 14px;
}