#header-search,
#newsletter {
    position: relative;
}

#search-input,
#newsletter-input {
    width: 100%;
    border-radius: 40px;
}

#search-btn,
#newsletter-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.newsletter form .input {
    margin-right: 0;
}

#newsletter {
    border-bottom: none !important;
}

#footer {
    border-top: 3px solid #D10024;
}

/* Navigattion */
.nav-item.active {
    color: #D10024;
    background-color: transparent;
}

.nav-item.active:after {
    width: 100%;
}

/* Wishlist */
.header-ctn-link {
    display: block;
    position: relative;
    width: 90px;
    text-align: center;
    color: #FFF;
    cursor: pointer;
}

.header-ctn-icon {
    display: block;
    font-size: 18px;
}

.header-ctn-title {
    font-size: 12px;
}

.header-ctn-qty {
    position: absolute;
    right: 15px;
    top: -10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 10px;
    color: #FFF;
    background-color: #D10024;
}

.btn-delete-wishlist {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    text-align: center;
    font-size: 20px;
    padding: 0;
    background: #D10024;
    border: none;
    color: #FFF;
}

/* Cart Dropdown */
.dropdown-toggle::after {
    display: none;
}

.cart-heading {
    color: #FFF;
    background-color: #D10024;
    padding: 10px;
}

/* Product Card */
.product-image {
    max-width: 220px;
    max-height: 320px;
}

.product-name:hover {
    color: #D10024;
}

/* Product Detail */
#product-main-image {
    max-width: 350px;
}

.product-preview {
    border: 1px solid #E4E7ED;
}

/* Shop */
.shop {
    width: 350px;
    height: 280px;
}

.shop-img {
    width: 100%;
    height: 100%;
}

/* Cart */
.product-cart-image {
    max-width: 80px;
    max-height: 180px;
}

.quantity-input {
    display: inline;
    width: 30px;
    height: 31px;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    border: 1px solid #333;
    text-align: center;
}

.btn-quantity {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 2px;
}

.btn-delete {
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #D10024;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.cart-detail {
    font-size: 18px;
    font-weight: bold;
}

.btn-cart {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #D10024;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
}

.coupon-input {
    display: inline;
    width: 300px;
    height: 38px;
}

.btn-coupon {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: gray;
    padding: 6px 16px;
    margin-left: 20px;
    cursor: pointer;
}

.cart-total {
    border: 1px solid #E4E7ED;
    padding: 20px;
}

.cart-price-label {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.cart-price {
    font-size: 16px;
    font-weight: bold;
    color: #D10024;
}

.btn-proceed-checkout {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #D10024;
    padding: 8px 16px;
    margin: 6px 0;
    border: none;
    cursor: pointer;
}

/* Login */
#login {
    height: 420px;
}

.btn-facebook,
.btn-google {
    font-weight: bold;
    color: #fff;
    height: 40px;
    border-radius: 40px;
    border: none;
}

.btn-facebook {
    background-color: #0866FF;
}

.btn-google {
    background-color: #ee4d2d;
}

#register {
    height: 500px;
}

#forgot-password {
    height: 280px;
}

.btn-forgot-password {
    width: 200px;
    height: 40px;
}