#header-search,
#newsletter {
    position: relative;
}

#search-input,
#newsletter-input {
    width: 100%;
    border-radius: 40px;
}

#search-btn,
#newsletter-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.newsletter form .input {
    margin-right: 0;
}

#newsletter {
    border-bottom: none !important;
}

#footer {
    border-top: 3px solid #D10024;
}

/* Override Button */
.btn-primary {
    background-color: #0d6efd;
}

.btn-primary:hover {
    background-color: #0b5ed7;
}

.btn-primary:focus {
    background-color: #0a58ca;
}

.btn-success {
    background-color: #198754;
}

.btn-success:hover {
    background-color: #157347;
}

.btn-success:focus {
    background-color: #146c43;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover {
    background-color: #bb2d3b;
}

.btn-danger:focus {
    background-color: #b02a37;
}

.btn-warning {
    background-color: #ffc107;
}

.btn-warning:hover {
    background-color: #ffca2c;
}

.btn-warning:focus {
    background-color: #ffcd39;
}

/* Products */
.products {
    min-height: 2000px;
}

/* Product section */
.product-section {
    padding: 0;
}

.product-section .section-title {
    margin-bottom: 15px;
    margin-top: 30px;
}

/* Avatar image */
.avatar-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-img-header {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    border-radius: 50%;
    object-fit: cover;
}

/* Navigattion */
.nav-item.active {
    color: #D10024;
    background-color: transparent;
}

.nav-item.active:after {
    width: 100%;
}

/* Wishlist */
.header-ctn-link {
    display: block;
    position: relative;
    width: 90px;
    text-align: center;
    color: #FFF;
    cursor: pointer;
}

.header-ctn-icon {
    display: block;
    font-size: 18px;
}

.header-ctn-title {
    font-size: 12px;
}

.header-ctn-qty {
    position: absolute;
    right: 15px;
    top: -10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 10px;
    color: #FFF;
    background-color: #D10024;
}

.btn-delete-wishlist {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    text-align: center;
    font-size: 20px;
    padding: 0;
    background: #D10024;
    border: none;
    color: #FFF;
}

/* Cart Dropdown */
.dropdown-toggle::after {
    display: none;
}

.cart-heading {
    color: #FFF;
    background-color: #D10024;
    padding: 10px;
}

/* Product Card */
.product-image {
    max-width: 220px;
    max-height: 320px;
}

.product-name:hover {
    color: #D10024;
}

/* Product Detail */
#product-main-image {
    max-width: 350px;
}

.product-preview {
    border: 1px solid #E4E7ED;
}

.average {
    color: #D10024;
    font-weight: 500;
    margin-right: 6px;
}

/* Cart */
.product-cart-image {
    max-width: 80px;
    max-height: 180px;
}

.quantity-input {
    display: inline;
    width: 30px;
    height: 31px;
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    border: 1px solid #333;
    text-align: center;
}

.btn-quantity {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 2px;
}

.btn-delete {
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #D10024;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.cart-detail {
    font-size: 18px;
    font-weight: 500;
}

.btn-cart {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #D10024;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
}

.coupon-input {
    display: inline;
    width: 300px;
    height: 38px;
}

.btn-coupon {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: gray;
    padding: 6px 16px;
    margin-left: 20px;
    cursor: pointer;
}

.cart-total {
    border: 1px solid #E4E7ED;
    padding: 20px;
}

.cart-price-label {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.cart-price {
    font-size: 16px;
    font-weight: bold;
    color: #D10024;
}

.btn-proceed-checkout {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #D10024;
    padding: 8px 16px;
    margin: 6px 0;
    border: none;
    cursor: pointer;
}

/* Login */
#login,
#register {
    width: 100vw;
    height: 100vh;
}

.form-login,
.form-register {
    border-radius: 4px;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);
}

.form-login {
    padding: 40px;
}

.form-register {
    padding: 30px 40px;
}

.btn-facebook,
.btn-google {
    font-weight: bold;
    color: #fff;
    height: 40px;
    border-radius: 40px;
    border: none;
}

.btn-facebook {
    background-color: #0866FF;
}

.btn-google {
    background-color: #ee4d2d;
}

#forgot-password {
    height: 280px;
}

.btn-forgot-password {
    width: 200px;
    height: 40px;
}

.register-link {
    color: #d10024;
    margin-left: 4px;
}


/* Shop */
.shop {
    width: 350px;
    height: 280px;
}

.shop-img {
    width: 100%;
    height: 100%;
}

/* Store */
.store {
    min-height: 1855px;
}

.btn-filter {
    padding: 8px 20px;
    margin-top: 20px;
    margin-left: 14px;
}

/* Nav pills */
.nav-pills .nav-link {
    color: #d10024;
    font-size: 15px;
    font-weight: 500;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #d10024;
}

/* Modal */
.modal-title {
    margin-right: auto;
}

.order-detail {
    font-size: 18px;
    font-weight: 500;
}

.order-detail-image {
    max-width: 80px;
    max-height: 120px;
    margin-right: 10px;
}

/* Tab */
#product-tab .tab-nav {
    padding-bottom: 6px;
}

/* Review */
.review-input {
    width: 72%;
}

.stars-wrapper {
    margin: 0 !important;
}

.stars {
    display: inline;
}

.btn-review {
    font-size: 12px;
    font-weight: bold;
    padding: 8px 16px;
    margin-top: 8px;
    border-radius: 20px;
}

.review-rating-order {
    width: 28%;
    padding: 12px;
}

/* Comment */
#comments {
    width: 65%;
    margin: 0 auto;
}

.comment-link {
    color: #d10024;
    font-weight: 500;
    margin-left: 6px;
}

.comment-link:hover {
    text-decoration: underline;
}

.comment-form {
    display: flex;
    margin-bottom: 14px;
    justify-content: end;
}

.comment-form .name {
    margin: 6px 8px 0 0;
}

.btn-comment {
    display: inline-block;
    height: 40px;
    padding: 0 20px;
    margin-top: 8px;
    margin-left: 8px;
    background-color: #D10024;
    border: none;
    border-radius: 40px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.comment-row {
    display: flex;
    justify-content: end;
    padding: 10px 0;
}

.comment-form .avatar,
.comment-heading .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 6px;
}

.comment-heading {
    display: flex;
    padding-top: 3px;
}

.comment-user {
    width: 160px;
}

.comment-body {
    display: block;
    width: 525px;
    padding-left: 6px;
}

.comment-body p {
    font-size: 15px;
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word;
}

.btn-detete-comment {
    margin-left: 10px;
}

.btn-reply:hover,
.btn-detete-comment:hover {
    text-decoration: underline;
    cursor: pointer;
}

.reply-row {
    position: relative;
}

.reply-row .comment-body {
    margin-bottom: 40px;
}

.reply-form {
    margin-left: 38px;
}

.reply-body {
    width: 487px;
}

/* Contact */
#contact {
    margin: 50px;
    display: flex;
    justify-content: center;
}

.contact-item {
    font-size: 26px;
    font-weight: 500;
    color: #2B2D42;
    margin: 30px 0;
}

.contact-icon {
    font-size: 36px;
    color: #D10024;
    margin-right: 10px;
}

/*-- Pagination --*/
.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.page-item {
    display: inline-block;
    margin: 0 5px;
}

.page-link {
    display: block;
    padding: 8px 14px !important;
    font-size: 14px;
    border: 1px solid #E4E7ED !important;
    color: #000 !important;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.page-link:hover {
    background-color: #E4E7ED !important;
    color: #D10024 !important;
}

.page-active .page-link {
    background-color: #D10024 !important;
    color: #fff !important;
    cursor: default;
}

/* Carousel */
.carousel {
    width: 1120px;
    height: 452px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.slide-img {
    width: 100%;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    padding: 10px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: #3595ff;
}

/* Not Found */
.not-found {
    width: 100vw;
    height: 100vh;
}

.not-found-img {
    width: 300px;
}

.not-found-link {
    color: #D10024;
}

/* Loader */
.loader {
    position: relative;
    width: 2.5em;
    height: 2.5em;
    transform: rotate(165deg);
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    transform: translate(-50%, -50%);
}

.loader:before {
    animation: before8 2s infinite;
}

.loader:after {
    animation: after6 2s infinite;
}

@keyframes before8 {
    0% {
        width: 0.5em;
        box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }

    35% {
        width: 2.5em;
        box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
    }

    70% {
        width: 0.5em;
        box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
    }

    100% {
        box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
}

@keyframes after6 {
    0% {
        height: 0.5em;
        box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }

    35% {
        height: 2.5em;
        box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
    }

    70% {
        height: 0.5em;
        box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
    }

    100% {
        box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
}

.loader {
    position: absolute;
    top: calc(50% - 1.25em);
    left: calc(50% - 1.25em);
}